.chatbot {
  position: absolute;
  width: 320px !important;
  bottom: 0;
  right: 10%;
  z-index: 2;
  background: rgb(36, 35, 35);
  box-shadow: 0 0 1rem rgb(17, 17, 17);
  color: white;
  .messages {
    height: 35vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .message {
      width: fit-content;
      border: 1px black;
    }
    .message-right {
      margin-left: auto;
    }
  }
  input {
    border: 2px solid white;
    border-radius: 10px;
    color: white !important;
    background: none;
    &:focus {
      background: none;
    }
  }
  .send-message {
    height: 5vh;
  }
}
